.About {
  padding: 5rem 0;
}

.About header {
  font-family: "Saira Extra Condensed", serif;  
  font-size: 2.7rem;
  line-height: 4rem;
}

.About h1 {
  margin-bottom: .75rem;
}

.About h1 span {
  color: #3b5998;
}

.About-details {
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-bottom: 2.6rem;
}

.About-details {
  font-family: "Saira Extra Condensed", serif;  
}

.About-details h4 span {
  color: #3b5998;
}

.About-text {
  margin-bottom: 2.6rem;    
}

.About-links {
  width: 220px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.About-links a {
  display: inline;
  font-size: 1.3rem;
  color: #454c51;
}

.About-links a:hover {
  color: #3b5998;
}

@media only screen and (min-width: 768px) {
  .About {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
  }

  .About header {
    font-size: 3rem;
    line-height: 4rem;
  }
}