.container {
  display: block !important;
}

h1,
h2 {
  color: #343a40;
}

p {
  line-height: 1.4rem;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }

  .container {
    width: 75%;
    padding-left: 9rem;
    margin: 0 auto;
  }

  .section {
    padding: 0;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
