.container {
  width: 90%;
  margin: 3.33rem auto 0 auto;
  color: #7b8691;  
}

h1, h2 {
  color: #343a40;  
}

p {
  line-height: 1.4rem;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }

  .container {
    width: 75%;
    padding-left: 9rem;    
    margin: 0 auto;    
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 65%;
    padding-left: 4rem;
  }
}