.MobileNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  background: #3b5998;
  padding: 1rem .9rem 0 .9rem;
}

.MobileNav-list {
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease-out;
}

.MobileNav-list-show {
  padding-bottom: 1rem;
  overflow: hidden;    
  max-height: 500px;
  transition: all .3s ease-in;
}

.MobileNav h2 {
  color: #fff;
  margin-bottom: 1rem;
}

.MobileNav-toggle {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: .2rem .9rem;
  background: none;
  border: none;
  box-shadow: 0 0 0 1px #ccc;
  border-radius: 3px;
  color: #ccc;
  font-size: 1.5rem;
  cursor: pointer;
}

.MobileNav-toggle:focus {
  outline: none;
  box-shadow: 0 0 0 1px #1b89f4;
}

@media only screen and (min-width: 768px) {
  .MobileNav {
    display: none;
  }
}