.NavList {
  font-family: Montserrat;
}

.NavList li:not(:last-child) {
  margin-bottom: 0.8rem;
}

.NavList li a {
  color: #bbb !important;
  font-size: 0.9rem;
  cursor: pointer;
}

.NavList li a:hover {
  color: #ddd !important;
}

.NavList li a.active {
  color: #fff !important;
}
