.NavList {
  font-family: Montserrat;
}

.NavList li:not(:last-child) {
  margin-bottom: .8rem;
}

.NavList li a {
  color: #bbb;
  font-size: .9rem;
  cursor: pointer;
}

.NavList li a:hover {
  color: #ddd;
}

.NavList li a.active {
  color: #fff;
}