@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.ttf");
}

@font-face {
  font-family: "Saira Extra Condensed";
  src: url("./fonts/SairaExtraCondensed.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: Roboto;
}